* {margin: 0; padding:0}
body{
    background-color: aqua;
    background-image: url(./941793.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 25vh;

}

.container{ 
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 #000;
    margin: auto;
}

ul.listamain{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    list-style-type: none;
    text-align: center; 
}

ul.listamain li{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

ul.listamain li input{
    width: 250px;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0px;
}

ul.listamain li input[type = "button"]{
    background-color: #00004d;
    color: #fff;
    cursor: pointer;
}

ul.listamain li:nth-child(5){
    color: red;
}

ul.listamain li:nth-child(1){
    color: #00004d;
}

.container2{
    background-color: #ffffff;
    width: 300px;
    height: 340px;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 #000;
    margin: auto;
}

ul.listamain li input[type = "submit"]{
    background-color: #00004d;
    color: #fff;
    cursor: pointer;
}

.Boxes{
    width: 90%;
    padding: 10px;
    margin: 100px auto;
    display: flex;
    justify-content: center;
    margin: auto;
    
}

.box{
    width: 300px;
    height: 330px;
    background-color: beige;
    margin: 0px 10px;
    transition: 1s;
    padding: 0px 40px;
    border-radius: 300px;
}

.box:hover{
    transform: scale(1.2);
    background: #b4b9b9;
    box-shadow: 0px 0px 15px 0px rgb(7, 34, 68);
    
}

.button2{
    position: fixed;
    right: 50px;
    bottom: 50px;
    padding: 5px 15px 5px 15px;
    background: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20px;
    color: #fff;
}